{#fplanev6#} 
{% extends "template.html" %}
{% block content %}
<h6><mark>Plane V7.0 -----------WORKING DRAFT on raspi17 10 June 2021</mark></h6>

<h2>Your Aircraft Launchpad</h2>
<a  href="/enternew" style="color:blue; font-size: 20px; margin-left:40px;">Query Aircraft Database</a>
<p></p>

<a href="/entermonth" style="color:blue; font-size: 20px; margin-left:40px;">List Months entries</a>
<p></p>

<a href="/sqlquery" style="color:blue; font-size: 20px; margin-left:40px;">Enter SQL Query</a>
<p></p>

<a href="/lastpage" style="color:blue; font-size: 15px; margin-left:40px;">List last page of entries</a>
<p></p>

<a href="/entertype" style="color:blue; font-size: 15px; margin-left:40px;">Lookup Symbols</a>

<a href="/duplicates" style="color:blue; font-size: 15px; margin-left:40px;"">List duplicate entries and convert .ods</a>
<p></p>
<h3>Other useful links</h3>
<a href="https://registry.faa.gov/aircraftinquiry/Search/NNumberInquiry" style="color:blue; font-size: 15px;"">N  </a>
---- 
<a href="https://siteapps.caa.co.uk/g-info/" style="color:blue; font-size: 15px;"">G- </a>
----
<a href="http://wwwapps.tc.gc.ca/saf-sec-sur/2/ccarcs-riacc/RchSimp.aspx" style="color:blue; font-size: 15px;"">CF- </a>
----
<a href="https://ardis.iomaircraftregistry.com/register/search" style="color:blue; font-size: 15px;"">M- </a>
----
<a href="https://www.iaa.ie/commercial-aviation/aircraft-registration-2/latest-register-and-monthly-changes-1" style="color:blue; font-size: 15px;"">EI- </a>
----
<a href="https://www.2-reg.com/legislation/register/" style="color:blue; font-size: 15px;"">2- </a>

<p></p>

<a href="https://www.radarbox24.com/" style="color:blue; font-size: 15px;"">RadarBox</a>
----
<a href="http://www.airframes.org/" style="color:blue; font-size: 15px;"">Airframes.org</a>                         ----
----
<a href="https://www.flightradar24.com/51.51,-0.23/11" style="color:blue; font-size: 15px;"">Flightradar24</a>
----
<a href="https://planefinder.net/" style="color:blue; font-size: 15px;"">Planefinder</a>
----
<a href="https://globe.adsbexchange.com/" style="color:blue; font-size: 15px;"">Global ABSB Exchange</a>

<p></p>
<a href="http://www.coaa.co.uk/planeplotter.htm" style="color:blue; font-size: 15px;"">Planeplotter</a>
----
<a href="https://www.planelogger.com/" style="color:blue; font-size: 15px;"">Planelogger</a>
----
<a href="http://planebase.biz/" style="color:blue; font-size: 15px;"">Planebase</a>
<p></p>
<a href="/static/Aerodromes-London.jpg" style="color:blue; font-size: 15px;"">London Aerodromes Jpg</a>
----
<a href="http://www.laasdata.com/corpjet//" style="color:blue; font-size: 15px;"">LAAS CorpJets</a>
----
<a href="http://www.helis.com/database/" style="color:blue; font-size: 15px;"">Helis Database</a>
<p></p>
<a href="http://www.aviation-links.co.uk/" style="color:blue; font-size: 15px;"">AirNet Links</a>
----
<a href="http://skylinkweather.com/metar/metarmapindex.php" style="color:blue; font-size: 15px;"">London Weather</a>
----
<a href="https://corporatejetinvestor.com/categories/bizjetblogger/" style="color:blue; font-size: 15px;"">BizJet Blogger</a>
<p></p>
<a href="http://civilaviationreview.com/" style="color:blue; font-size: 15px;"">Civil Aviation Review</a>
----
<a href="http://www.airlinerworld.com/" style="color:blue; font-size: 15px;"">Airliner World</a>
----
<p></p>
<a href="https://www.icao.int/publications/DOC8643/Pages/Search.aspx" style="color:blue; font-size: 15px;"">ICAO Aircraft Type Designators</a>
----
<a href="http://airportsbase.org/ICAO.php" style="color:blue; font-size: 15px;"">Airports ICAO (4 letters)</a>

<h6> Plane V6.0  ================== WORKING DRAFT on Github  15-May-2019 </h6>
        <h6>located on   -raspi-- in directory /home/pi/pi15-share/fplanev6/templates </h6>                                                                  
{% endblock %}
